parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    paths:
        - ./
    excludePaths:
        - %rootDir%/../../../tests/*
        - %rootDir%/../../../vendor/*
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        # Zend_Layout uses __get and __set
        - '#Access to an undefined property Zend_Layout::\$events\.#'
        -
            message: '#Parameter \#1 \$(function|callback) of function call_user_func_array expects callable\(\): mixed, array{Zend_Mail, mixed} given\.#'
            path: %currentWorkingDirectory%/src/Zend/Log/Writer/Mail.php
